@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap&subset=korean");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #dfe6e9;
  color: #f5f6fa;
  /* position: absolute; */
  margin: 0px;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s linear;
}

.form,
.greetings,
.doForm {
  display: none;
}

.showing {
  font-family: "Dosis", sans-serif;
  font-size: 40px;
}

.greetings {
  animation: fadeIn 1s linear;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.js-weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 20px;
}

.temperature {
  font-size: 18px;
}

.location {
  font-size: 20px;
}

.js-clock {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 55px;
  margin-bottom: -50px;
}

.js-clock,
.showing,
.js-toDoForm,
.js-toDoList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings {
  margin: 0;
}

.js-toDoForm {
  margin: 10px 0px;
}

.toDoInput {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 30px;
  border-bottom: 3px solid #f5f6fa;
  text-align: center;
}

input::placeholder {
  font-family: "Dosis", sans-serif;
  color: #f5f6fa;
}

input:focus {
  outline: none;
  font-family: "Dosis", sans-serif;
  color: #f5f6fa;
}

.js-toDoList {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

li {
  animation: fadeInList 1s linear;
  margin-top: 10px;
}

@keyframes fadeInList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  background-color: transparent;
  border: 1.5px solid #f5f6fa;
  border-radius: 30px;
  margin-left: 10px;
}

nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-family: "Nanum Brush Script", cursive;
  font-size: 30px;
}
